.product-form{
    width:20rem;
    max-width: 90%;
    margin: auto;
}
.form-control{
    margin: 1rem 0;
}
.form-control label,
.form-control input{
    width: 100%;
    display: block;
}
.form-control input{
    border: 1px solid rgb(206, 189, 4) ;
    font:inherit;
    border-radius: 5px;
}
button{
    font: inherit;
    border: 1px solid rgb(135, 8, 214);
    color: rgb(135, 8, 214);
    background: white;
    border-radius: 5px;
    cursor:pointer;
}
button:hover,
button:active{
    background-color: purple;
    color: white;
}